<style>
    .h3-234 {
        color: white;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .container123 {
        display: flex;
        width: 100%;
        background-color: purple;
        color: white;
        font-family: sans-serif;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-bottom: 1px;

    }

    .heading246 {
        margin: 0px 70px;
        padding: 20px 0px;
    }

    .ul233 {
        margin: 14px 0px;
        list-style-type: none;
    }

    .li298 {
        margin: 4px;
    }

    .hello84 {
        color: white;
        font-size: 10px;
        text-decoration: none;
    }

    .footer439 {
        text-align: center;
        background-color: purple;
        color: white;
        font-family: sans-serif;
        height: 20px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


    }

    .input305 {
        margin-top: 5px;
        width: 150px;
        height: 30px;
        background-color: purple;
        border: 1px solid #8A2BE2;
        padding-left: 5px;

    }

    .submit278 {
        background-color: white;
        color: skyblue;
        border-radius: 4px;
        font-weight: bold;
    }

    input::placeholder {
        color: white;

    }

    .main-foot599 {
        right: 0;
        bottom: 0;
        left: 0;
        /* padding: 1rem; */
        /* background-color: #0f0c29; */
        color: white;
        /* background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29); */
        /* background: linear-gradient(to right, #24243e, #302b63, #0f0c29); */
        text-align: center;

    }

    .margin472 {
        margin-bottom: 9px;
    }
</style>
<footer class="main-foot599">
    <div class="container123">
        <div class="heading246">
            <ul class="ul233">
                <a href="#" class="hello84">
                    <li class="li298">Didn't find what you were<br> Searching for</li>
                </a>
                <a href="#" class="hello84">
                    <li class="li298">Write an article</li>
                </a>
                <a href="#" class="hello84">
                    <li class="li298">Suggest a Topic</li>
                </a>
            </ul>
        </div>
        <div class="heading246">
            <ul class="ul233">
                <a href="#" class="hello84">
                    <li class="li298">Internship</li>
                </a>
                <a href="#" class="hello84">
                    <li class="li298">Sitemap</li>
                </a>
                <a href="#" class="hello84">
                    <li class="li298">Contact us</li>
                </a>
                <a href="#" class="hello84">
                    <li class="li298">Give Feedback</li>
                </a>
            </ul>
        </div>
        <div class="heading246">
            <ul class="ul233">
                <a href="#" class="hello84">
                    <li class="li298">About us </li>
                </a>
                <a href="#" class="hello84">
                    <li class="li298">Privacy Policy</li>
                </a>
                <a href="#" class="hello84">
                    <li class="li298">Cookie Policy</li>
                </a>
                <a href="#" class="hello84">
                    <li class="li298">Terms and Conditions</li>
                </a>
            </ul>
        </div>
        <div class="heading246">
            <h3 class="h3-234">Subscribe to newsletter via email</h3>
            <form action="/submitForm/post" method="post">
                <div class="margin472">
                    <input name="email" type="email" placeholder="Email Address" class="input305">
                    <input type="submit" value="Subscribe" class="submit278 input305">
                </div>
            </form>
            <div class="icons">
                <a href="#" class="fa fa-instagram hello84"></a>
                <a href="#" class="fa fa-facebook hello84" style="margin: 0px 3px;"></a>
                <a href="#" class="fa fa-twitter hello84" style="margin: 0px 3px;"></a>
                <a href="#" class="fa fa-linkedin hello84" style="margin: 0px 3px;"></a>
                <a href="#" class="fa fa-youtube hello84" style="margin: 0px 3px;"></a>
            </div>

        </div>

    </div>
    <div class="footer439"> &copy; All Rights Reserved</div>
</footer>

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/nouislider.min.js"></script>
<script src="js/jquery.zoom.min.js"></script>
<script src="js/main.js"></script>






</body>

</html>