 <!-- FOOTER -->
 <footer id="footer" class="section section-grey">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
        
            

            <!-- footer subscribe -->
            
            <!-- /footer subscribe -->
        </div>
        <!-- /row -->
        <hr>
        <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <!-- footer copyright -->
                    
                    <p><a href="/aboutus" style="padding-right:50px;">About Us </a><a href="/cookie" style="padding-right:30px; padding-left:20px;">Privacy Policy</a><a href="/tc"style="padding-right:30px;">Terms and Conditions</a>
                        <a href="/internships" style="padding-right:50px;">Internship </a><a href="/contactus">Contact Us</a></p>
                </div>
            </div>
            <!-- /row -->
        </div>

                <!-- Footer -->
                <div class="container-fluid footer-container">
                    <footer class="footer">
                        <div class="footer-lists">
                           
                                <div class="col-sm">
                                    
                                    <p></p>

                                    
                                </div>
                            </div>
                        </div>

                      
                       
                    </footer>
                </div> 
            </div>
        </div>

        <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/nouislider.min.js"></script>
    <script src="js/jquery.zoom.min.js"></script>
    <script src="js/main.js"></script>






    </body>
</html>