<!DOCTYPE html>
<html>
  <head>
    <title>Editor</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="styles/theme.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css "
    />
    <script src="ckeditor/ckeditor.js"></script>
    <!-- <link rel="stylesheet" href="/froalacss">
    <script src="/froalajs"></script> -->
  </head>
</html>
