<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Admin</title>
  <base href="/">
  <!-- Google font -->
  <link href="https://fonts.googleapis.com/css?family=Hind:400,700" rel="stylesheet">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- Slick -->
  <link type="text/css" rel="stylesheet" href="css/slick.css" />
  <link type="text/css" rel="stylesheet" href="css/slick-theme.css" />
  <!-- nouislider -->
  <link type="text/css" rel="stylesheet" href="css/nouislider.min.css" />
  <!-- Font Awesome Icon -->
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <!-- Custom stlylesheet -->
  <link type="text/css" rel="stylesheet" href="css/style.css" />
  <link type="text/css" rel="stylesheet" href="css/adminhome.css">

  <script>
    window.console = window.console || function (t) { };
  </script>
  <script>
    if (document.location.search.match(/type=embed/gi)) {
      window.parent.postMessage("resize", "*");
    }
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script>
    $(document).ready(function () {
      $('#search').keyup(function () {
        search_table($(this).val());
      });

      function search_table(value) {
        $('#employee_table tr').each(function () {
          var found = 'false';
          $(this).each(function () {
            if ($(this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0) {
              found = 'true';
            }
          });
          if (found == 'true') {
            $(this).show();
          } else {
            $(this).hide();
          }
        });
      }
    });
  </script>
</head>

<body>
  <!-- /HEADER -->
  <!-- NAVIGATION -->
  <div id="navigation">
    <div id="header" style="padding: 0px;">
      <div class="container">
        <!-- Mobile nav toggle-->
        <li class="nav-toggle">
          <button class="nav-toggle-btn main-btn icon-btn"><i class="fa fa-bars"></i></button>
        </li>
        <!-- / Mobile nav toggle -->
      </div>
      <!-- header -->
    </div>
    <!-- container -->
    <div class="container">
      <div id="responsive-nav">
        <!-- menu nav -->
        <div class="menu-nav">
          <ul class="menu-list">
            <li><a href="auth/panelforadmin/logout">LOG OUT</a></li>
            <li id="downloadExcelLink" download="../admin.xlsx"><a href="/panelforadmin/download">Admin Table</a></li>
            <script type="text/javascript" src="../public/js/download.js"></script>
            <li id="downloadExcel" download="../users.xlsx"><a href="/panelforadmin/userdownload">Users Table</a></li>
            <script type="text/javascript" src="../public/js/downloadusers.js"></script>
            <li id="downloadExcelsheet" download="../reviewers.xlsx"><a href="/panelforadmin/reviewerdownload">Users Table</a></li>
            <script type="text/javascript" src="../public/js/downloadreviewers.js"></script>
          </ul>
        </div>
        <!-- menu nav -->
      </div>
    </div>
    <!-- /container -->
  </div>
  <!-- /NAVIGATION -->
  <div class="content" style="padding-right: 30px;">
    <!-- container -->
    <div class="container">
      <!-- Jumbtron / Slider -->
      <div class="jumbotron" style="padding: 10px;">
        <p class="lead text-center">Admin Control Panel</p>
      </div>
    </div>
  </div>
  <!-- Main content area -->
  <main>
    <div style="text-align:center;">
      <p style="text-align:center;">Choose one of Below</p>
      <a href="/panelforadmin/general" class="button">General</a>
      <a href="/panelforadmin/Articles" class="button">Articles</a>
      <a href="/panelforadmin/Users" class="button">Users</a>
      <a href="/panelforadmin/Reviewers" class="button">Reviewers</a>
      <a href="/intern/data" class="button">Intern</a>
    </div>
    <br>
  </main>

  <a id="backtotop" href="#top" style="float: right;"><i class="fa fa-chevron-up"></i></a>
  <script src="js/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="js/jquery.backtotop.js"></script>
  <script src="js/slick.min.js"></script>
  <script src="js/nouislider.min.js"></script>
  <script src="js/jquery.zoom.min.js"></script>
  <script src="js/main.js"></script>




</body>

</html>